/*.button {
    -fx-font-size: 10px;
    -fx-background-color: rgba(64, 72, 200, 0.78);
    -fx-text-fill: #ff3f0a;
    -fx-padding: 4 4 4 4;
    -fx-border-radius: 6;
}

.root {
    -fx-background-color: grey;
} */